.root{
    -fx-primary :  #4285F4;
    -fx-secondary : white;
    -fx-primarytext : white;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.button{
	-fx-border-width: 0px 0px 2px 0px;
}
.label{
    -fx-font-family: "Verdana";
}

